<launch>
     <arg name="kinect2" default="false"/>
     <group if="$(arg kinect2)" >
         <!-- launch kinect and tag system -->
         <include file="$(find visual_servoing)/launch/baxter_w_kinect_tag.launch" />

         <!-- stand alone self filter for baxter using ripped out moveit mesh filter -->
        <include file="$(find trec_self_filter)/launch/self_filter.launch" />

         <!-- octomap parameters for moveit -->
         <group ns="move_group" >
             <param name="octomap_frame" type="string" value="world" />
             <param name="octomap_resolution" type="double" value="0.02" />
             <rosparam command="load" file="$(find baxter_moveit_config)/config/kinect2_sensor_di.yaml" />
         </group>
     </group>
</launch>
