<launch>
  <arg name="add_electric_gripper" default="true" />

  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- Load the URDF into the ROS Parameter Server -->
  <!-- This xacro will pull in baxter.urdf, left_end_effector.urdf.xacro,
                                           and right_end_effector.urdf.xacro -->
  <param if="$(arg load_robot_description)" name="robot_description"
      command="$(find xacro)/xacro.py --inorder $(find baxter_description)/urdf/baxter.urdf.xacro
          right_end_effector:=$(arg add_electric_gripper)
          left_end_effector:=$(arg add_electric_gripper)
          gazebo:=false"/>

  <!-- The semantic description that corresponds to the URDF -->
  <group if="$(arg add_electric_gripper)" >
    <param name="robot_description_semantic" textfile="$(find baxter_moveit_config)/config/baxter_w_parallel_electric.srdf" />
  </group>
  <group unless="$(arg add_electric_gripper)" >
    <param name="robot_description_semantic" textfile="$(find baxter_moveit_config)/config/baxter.srdf" />
  </group>

  <!-- Load to the parameter server yaml files -->
  <group ns="robot_description_planning">
    <rosparam command="load" file="$(find baxter_moveit_config)/config/joint_limits.yaml"/>
  </group>

</launch>
